@import 'styles/colors';

.uikit__form-elements--button {
  min-width: fit-content;
  width: 10rem;
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  justify-content: center;
  background-color: map-get($colors, logo-yellow);
  color: map-get($colors, primary);
  border: 1px solid map-get($colors, logo-yellow);
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background-color: map-get($colors, primary);
    color: map-get($colors, logo-yellow);
    // border-color: map-get($colors, primary);
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

.button--inverse {
  background-color: map-get($colors, primary);
  color: map-get($colors, logo-yellow);
  border-color: map-get($colors, primary);

  &:hover,
  &:active {
    background-color: map-get($colors, logo-yellow);
    color: map-get($colors, primary);
    border-color: map-get($colors, logo-yellow);
  }
}

.button--danger {
  background-color: map-get($colors, bg);
  color: map-get($colors, error);
  border-color: map-get($colors, error);

  &:hover,
  &:active {
    background-color: map-get($colors, error);
    color: map-get($colors, bg);
    border-color: map-get($colors, bg);
  }
}
