@import 'styles/colors';

.navbar {
  width: 100vw;
  padding: 0.2rem;
  background-color: map-get($colors, primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar__brand {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    padding-left: 3rem;
    color: map-get($colors, bg);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;

    li {
      margin: 0.2rem 1rem;
      display: inherit;

      a {
        text-decoration: none;
        display: inline-flex;
        align-self: center;
        color: map-get($colors, bg);
        font-size: 1.2rem;
        font-weight: bold;

        &:hover,
        &:active,
        &.active {
          color: map-get($colors, logo-yellow);
        }
      }

      button {
        background-color: map-get($colors, primary);
        color: map-get($colors, dark);
        border: 2px solid map-get($colors, dark);

        &:hover {
          background-color: map-get($colors, dark);
          color: map-get($colors, light);
          border-color: map-get($colors, light);
        }
      }
    }
  }
}
