@import 'styles/variables';

.edit__course {
  @extend .page__layout;

  .edit__course--card {
    padding: 1rem 2rem;

    .edit__course--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      input[type='text'] {
        width: 100%;
        margin: 1rem 0;
      }

      textarea {
        width: 100%;
        height: 5rem;
        margin: 1rem 0;
      }

      .form__button {
        align-self: center;
      }
    }
  }
}
